<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <title>TODOアプリ</title>
  </head>
  <body>
    <div id="app">
      <h1>Vue.jsでTODOアプリ</h1>
      <label
        ><input
          type="radio"
          name="list"
          value="all"
          v-model="filter"
        />すべて</label
      >
      <label
        ><input
          type="radio"
          name="list"
          value="active"
          v-model="filter"
        />作業中</label
      >
      <label
        ><input
          type="radio"
          name="list"
          value="completed"
          v-model="filter"
        />完了</label
      >
      <p>ID コメント 状態</p>
      <form v-on:submit.prevent="addTasks">
        <label for="title">タイトル</label>
        <br />
        <input
          type="text"
          id="title"
          name="title"
          placeholder="タスクを入力してください。"
          size="30"
          maxlength="20"
          v-model="addTitle"
        />
        <br />
        <br />
        <label for="deadline">期限</label>
        <br />
        <input type="date" id="deadline" name="deadline" v-model="deadline" />
        <br />
        <input type="submit" value="追加する" />
      </form>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>期限</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(todo, index) in filteredTodos" v-bind:key="todo.id">
            <td>{{todo.id}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.deadline}}</td>
            <td>
              <button @click="statusChange(todo.id)">
                {{ todo.statusBtn }}
              </button>
            </td>
            <td @click="removeTask"><i class="fas fa-trash-alt"></i></td>
            <td @click="editTask(index)"><i class="fas fa-edit"></i></td>
          </tr>
          <tr
            v-for="(todo, index) in todos"
            v-bind:key="todo.id"
            v-if="todo.flag === false"
            class="completeTasks"
          >
            <td><button @click="changeToDo(todo.id)">戻す</button></td>
            <td>{{todo.id}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.deadline}}</td>
            <td @click="removeTask"><i class="fas fa-trash-alt"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="main.js"></script>
  </body>
</html>
